/* CSS Document */

a {
	color:#6AA614;
}

h1 {
	color:#6AA614;
}

h2 {
	color:#333;
}

/* MAIN MENU */

#mainMenu {
	background:url(../images/green/bk_mainmenu.png) no-repeat;
}

#mainMenu ul.sf-menu li {
	border-right:1px solid #8EB561;
}

#mainMenu ul.sf-menu li a {
	color:#C7D9B3;
}


#mainMenu ul.sf-menu li a:hover {
	color:#FFF;
}

#mainMenu ul.sf-menu li li {
	border-bottom:1px solid #8AB454;
	
}

#mainMenu ul.sf-menu li li a {
	color:#C7D9B3;
}

#mainMenu ul.sf-menu li ul.children {
	border-bottom:2px solid #46730F;
	background:#5E9814;
}

#mainMenu ul.sf-menu li ul.children li a:hover, #mainMenu ul.sf-menu li.page_item ul li a:hover{
	color:#fff;
}

#mainMenu ul.sf-menu li ul.children li ul.children {
	border-bottom:2px solid #46730F;
}

/* COL LEFT ELEMENTS */

#colLeft .blogPost .metaLeft .month {
	background:url(../images/green/bk_month.jpg) 50% 0 no-repeat;
	color:#fff;
}

#colLeft .blogPost .metaLeft .comments {
	background:url(../images/green/bk_comments.jpg) 50% 0 no-repeat;
	color:#00B0F5;
}

#colLeft .blogPost a.more-link {
	color:#FFF;
	background:url(../images/green/but_readmore.jpg) 0 0 no-repeat;
}

.navigation .alignleft a, .navigation .alignright a {
	background:url(../images/green/but_older.jpg) 0 0 no-repeat;
	color:#333;
}

.navigation .alignleft a:hover, .navigation .alignright a:hover {
	color:#6AA614;
} 

.navigation .alignright a {
	background:url(../images/green/but_newer.jpg) 0 0 no-repeat;
}

/* COL RIGHT ELEMENTS */

#colRight h2 {
	background:url(../images/green/bk_h2_right.jpg) 0 0 no-repeat;
	color:#E0EFF5;
}

#colRight ul li {
	background:url(../images/green/bk_list_right.png) 0 0 no-repeat;
}

#colRight ul li:hover a, #colRight ul li a:hover{
	color:#6AA614;
}

/* FORMS BUTTONS */

#contact input.submit {
	background:url(../images/green/but_send.jpg) 0 0 no-repeat;
	color:#fff;
}

#commentform input#submit{
	background:url(../images/green/but_send.jpg) 0 0 no-repeat;
	color:#fff;
}

/* COMMENTS */

#colLeft ul.commentlist li .commentRight strong {
	background:#6AA614;
}

#colLeft ul.commentlist li .commentRight strong, #colLeft ul.commentlist li .commentRight strong a{
	color:#fff;
}