[general]

;Database connection settings
db.adapter=PDO_MYSQL
db.host=localhost
db.username=storytlr
db.password=password
db.dbname=storytlr

;Security
security.cookie = dasuoidasud

#path.upload = /tmp/upload
#path.logs = /tmp/logs
#path.temp = /tmp/temp
#path.feeds = /tmp/feeds

;Caching
;cache.content = 1
;cache.metadata = 1
;cache.path = /tmp/cache/

;Web deployment settings
web.host=storytlr.com
web.path=/
web.redirect = 1
web.timezone=Europe/Brussels

;Global application settings
app.closed=1							; Set to 0 to enable registration
app.from_email=support@noreply.net
app.admin_email=admin@noreply.net
app.user=admin						; Comment this to switch to multi-user setup

;Debug settings
debug 	= 0
profile = 0


;; RSS settings
rss.default.hide_content=1

;; Flickr settings
;;flickr.api_key=

;; Twitter settings
;;twitter.username=
;;twitter.password=
;;twitter.default.hide_replies=1

;; Seesmic settings
seesmic.default.hide_replies=1

;; Laconica settings
laconica.default.hide_replies=1

;; Youtube settings
;youtube.client_id=
;youtube.developer_key=

;; Google map
;gmap.key=

;Default values for user settings
default.theme=classic
default.timezone=Europe/Brussels
default.timezoneid=397
default.on_comment=1
default.on_news=1
default.title=My Homepage
default.subtitle=I'm still busy setting this page
